/*
 * Strava API v3
 * The [Swagger Playground](https://developers.strava.com/playground) is the easiest way to familiarize yourself with the Strava API by submitting HTTP requests and observing the responses before you write any client code. It will show what a response will look like with different endpoints depending on the authorization scope you receive from your athletes. To use the Playground, go to https://www.strava.com/settings/api and change your “Authorization Callback Domain” to developers.strava.com. Please note, we only support Swagger 2.0. There is a known issue where you can only select one scope at a time. For more information, please check the section “client code” at https://developers.strava.com/docs.
 *
 * The version of the OpenAPI document: 3.0.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.gade.gps.strava.client.api;

import com.fasterxml.jackson.core.type.TypeReference;

import com.gade.gps.strava.client.ApiException;
import com.gade.gps.strava.client.ApiClient;
import com.gade.gps.strava.client.BaseApi;
import com.gade.gps.strava.client.Configuration;
import com.gade.gps.strava.client.Pair;

import com.gade.gps.strava.client.model.ActivityStats;
import com.gade.gps.strava.client.model.DetailedAthlete;
import com.gade.gps.strava.client.model.Fault;
import com.gade.gps.strava.client.model.Zones;


import java.util.ArrayList;
import java.util.Collections;
import java.util.HashMap;
import java.util.List;
import java.util.Locale;
import java.util.Map;
import java.util.StringJoiner;

@jakarta.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", comments = "Generator version: 7.16.0")
public class AthletesApi extends BaseApi {

  public AthletesApi() {
    super(Configuration.getDefaultApiClient());
  }

  public AthletesApi(ApiClient apiClient) {
    super(apiClient);
  }

  /**
   * Get Authenticated Athlete
   * Returns the currently authenticated athlete. Tokens with profile:read_all scope will receive a detailed athlete representation; all others will receive a summary representation.
   * @return DetailedAthlete
   * @throws ApiException if fails to make API call
   */
  public DetailedAthlete getLoggedInAthlete() throws ApiException {
    return this.getLoggedInAthlete(Collections.emptyMap());
  }


  /**
   * Get Authenticated Athlete
   * Returns the currently authenticated athlete. Tokens with profile:read_all scope will receive a detailed athlete representation; all others will receive a summary representation.
   * @param additionalHeaders additionalHeaders for this call
   * @return DetailedAthlete
   * @throws ApiException if fails to make API call
   */
  public DetailedAthlete getLoggedInAthlete(Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // create path and map variables
    String localVarPath = "/athlete";

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "strava_oauth" };

    TypeReference<DetailedAthlete> localVarReturnType = new TypeReference<DetailedAthlete>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Get Zones
   * Returns the the authenticated athlete&#39;s heart rate and power zones. Requires profile:read_all.
   * @return Zones
   * @throws ApiException if fails to make API call
   */
  public Zones getLoggedInAthleteZones() throws ApiException {
    return this.getLoggedInAthleteZones(Collections.emptyMap());
  }


  /**
   * Get Zones
   * Returns the the authenticated athlete&#39;s heart rate and power zones. Requires profile:read_all.
   * @param additionalHeaders additionalHeaders for this call
   * @return Zones
   * @throws ApiException if fails to make API call
   */
  public Zones getLoggedInAthleteZones(Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // create path and map variables
    String localVarPath = "/athlete/zones";

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "strava_oauth" };

    TypeReference<Zones> localVarReturnType = new TypeReference<Zones>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Get Athlete Stats
   * Returns the activity stats of an athlete. Only includes data from activities set to Everyone visibilty.
   * @param id The identifier of the athlete. Must match the authenticated athlete. (required)
   * @return ActivityStats
   * @throws ApiException if fails to make API call
   */
  public ActivityStats getStats(@jakarta.annotation.Nonnull Long id) throws ApiException {
    return this.getStats(id, Collections.emptyMap());
  }


  /**
   * Get Athlete Stats
   * Returns the activity stats of an athlete. Only includes data from activities set to Everyone visibilty.
   * @param id The identifier of the athlete. Must match the authenticated athlete. (required)
   * @param additionalHeaders additionalHeaders for this call
   * @return ActivityStats
   * @throws ApiException if fails to make API call
   */
  public ActivityStats getStats(@jakarta.annotation.Nonnull Long id, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling getStats");
    }
    
    // create path and map variables
    String localVarPath = "/athletes/{id}/stats"
      .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(apiClient.parameterToString(id)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "strava_oauth" };

    TypeReference<ActivityStats> localVarReturnType = new TypeReference<ActivityStats>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Update Athlete
   * Update the currently authenticated athlete. Requires profile:write scope.
   * @param weight The weight of the athlete in kilograms. (required)
   * @return DetailedAthlete
   * @throws ApiException if fails to make API call
   */
  public DetailedAthlete updateLoggedInAthlete(@jakarta.annotation.Nonnull Float weight) throws ApiException {
    return this.updateLoggedInAthlete(weight, Collections.emptyMap());
  }


  /**
   * Update Athlete
   * Update the currently authenticated athlete. Requires profile:write scope.
   * @param weight The weight of the athlete in kilograms. (required)
   * @param additionalHeaders additionalHeaders for this call
   * @return DetailedAthlete
   * @throws ApiException if fails to make API call
   */
  public DetailedAthlete updateLoggedInAthlete(@jakarta.annotation.Nonnull Float weight, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'weight' is set
    if (weight == null) {
      throw new ApiException(400, "Missing the required parameter 'weight' when calling updateLoggedInAthlete");
    }
    
    // create path and map variables
    String localVarPath = "/athlete"
      .replaceAll("\\{" + "weight" + "\\}", apiClient.escapeString(apiClient.parameterToString(weight)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "strava_oauth" };

    TypeReference<DetailedAthlete> localVarReturnType = new TypeReference<DetailedAthlete>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "PUT",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  @Override
  public <T> T invokeAPI(String url, String method, Object request, TypeReference<T> returnType, Map<String, String> additionalHeaders) throws ApiException {
    String localVarPath = url.replace(apiClient.getBaseURL(), "");
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    localVarHeaderParams.putAll(additionalHeaders);

    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "strava_oauth" };

    return apiClient.invokeAPI(
      localVarPath,
        method,
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        request,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        returnType
    );
  }
}
